:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);
  /* overflow: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.error {
  color: var(--error);
}

.no-scroll {
  overflow: hidden;
}
